#fon{
  width: 70%;
  height: 600px;
  margin-left: 15%;
  margin-top: 40px;
  background-color: #FFEBCD;
  border: 10px solid;
 
  border-image: linear-gradient(to right, #FFD700,  #FFFACD) 1;
}
.main-container{
   display: flex;
}
#userName{
  font-size: 25px;
  font-weight: bold;
  text-align: center;
  color: #B8860B;
}
#rounds{
  font-size: 15px;
  font-style: italic;
  margin-left: 210px;
}
#btn {
    background: #CD5C5C;
    padding: 15px 40px;
    color: white;
    border: none;
    font-size: 22px;
    margin-top: 40px;
    margin-left: 160px;
    border-radius: 10px;
}
#btn:hover{
  background: #B22222;
}
.grid {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-left: 20px;
}
.column {
    width: 140px;
    height: 350px;
    background: #B22222;
    display: flex;
    flex-direction: column;
    padding: 5px;
    border-radius: 10px;
}
.column img {
    width: 85%;
    margin-left: 10px;
    height: 105px;
    padding-top: 10px;
}
#name{
  font-size: 20px;
  font-style: italic;
  width: 150px;
  height: 30px;
  background: linear-gradient(to right,   #DC143C,    #CD5C5C);
  border: 2px solid #8B0000;
  border-radius: 0px 20px 20px 0px;
  margin-left: 200px;
}
#history{
  margin-bottom: 30px;
  font-size: 18px;
   list-style: none;
}
.cc{
  width: 350px;
  height: 200px;
  background: white;
  border: 10px dashed #A0522D;
  margin-left: 95px;
}
li{
  margin-bottom: 10px;
  font-family: Georgia, serif;
}
#reset{
    background:  #CD5C5C;
    padding: 5px 15px;
    color: white;
    border: none;
    font-size: 18px;
    border-radius: 5px;
    margin-left: 200px;
    margin-top: 10px;
}
#reset:hover{
  background: #B22222;
}